/* TAGS */
*{
    padding: 0px;
    margin-top: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #250000 !important;
    font-family: "Montserrat", sans-serif;
    color: #ffffff !important;
    /* Cor do texto base */
}

label {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

input {
    font-weight: bold;
    width: calc(100% - 10px);
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    color: #253A52;
    border: 2px solid;
    text-align: center;
}

h1 {
    margin: 0px;
    padding-top: 0px;
    font-size: 60px !important;
    text-align: center;
    color: white;
}

/* Ajustar o tamanho do texto quando a tela for menor que 768px (exemplo de largura de tablet) */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
        /* Reduz o tamanho do h1 em telas menores */
    }
}

/* Ajustar o tamanho do texto quando a tela for menor que 480px (exemplo de largura de celular) */
@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
        /* Reduz ainda mais em telas pequenas */
    }
}

/* ID */

#alinhamento-botoes {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#centralizacaoLabel {
    display: flex;
    justify-content: center;
}

#estilo-nome-menu {
    padding-bottom: 20px;
}

/* Classe */

.container {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.botoes {
    padding: 15px 30px 15px 30px;
    border-radius: 20px;
    border: solid 1.5px;
    font-size: 15px;
}

.botoes:hover {
    cursor: pointer;
    background-color: #e6e6e6;
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.identarSucesso {
    margin: 0px;
    display: flex;
    justify-content: center;
    color: white;
}

/* Customizações para a barra lateral */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    /* Inicialmente fora da tela */
    width: 250px;
    height: 100vh;
    /* Altura da sidebar igual à altura da tela */
    background-color: #f8f8f8;
    transition: left 0.3s ease;
    /* Transição suave para aparecer/desaparecer */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    /* Adiciona a barra de rolagem vertical quando necessário */
    z-index: 1000;
    /* Garante que a sidebar fique sobre o conteúdo */
}

/* Quando a sidebar está visível */
.sidebar.visible {
    left: 0;
}

.content {
    margin-left: 250px;
    /* Deixa espaço para a sidebar */
    padding: 20px;
}

.nav-link {
    text-decoration: none;
    padding: 0px;
}

.centralizar-titulos {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font: bold;
    font-size: 20px;
    color: #000000 !important;
}