/* TAGS */
*{
    padding: 0px;
    margin-top: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #250000;

}

label{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color:white;
}

input{
    font-weight: bold;
    width: calc(100% - 10px);
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    color:#253A52;
    border: 2px solid;
    text-align: center;
}
h1{
    margin: 0px;
    padding: 30px 0px 30px 0px;
    font-size: 60px;
    text-align: center;
    color: white;
}

/* Ajustar o tamanho do texto quando a tela for menor que 768px (exemplo de largura de tablet) */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem; /* Reduz o tamanho do h1 em telas menores */
    }
}

/* Ajustar o tamanho do texto quando a tela for menor que 480px (exemplo de largura de celular) */
@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem; /* Reduz ainda mais em telas pequenas */
    }
}

/* ID */

#alinhamento-botoes{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#centralizacaoLabel{
    display: flex;
    justify-content: center;
}

/* Classe */

.container{

    width: 800px;
    height: auto;
    border: 2px solid rgb(230, 230, 230);
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    box-shadow: 0px 10px 20px #000000b0;
    position: absolute;
   
}

.botoes{
    padding: 15px 30px 15px 30px;
    border-radius: 20px;
    border: solid 1.5px;
    font-size: 15px;
    
}
.botoes:hover{
    cursor: pointer;
    background-color: #e6e6e6;
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.identarSucesso{
    margin: 0px;
    display: flex;
    justify-content: center;
    color: white;
}
